### Maven
target

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Mac OS ###
.DS_Store

### Chess project ###
server/**/db.properties

### My Database Clear out ###
/server/src/test/java/passoff/server/ClearTest.java
/client/src/main/java/ui/OldChessBoardDraw.java
